@charset "UTF-8";
@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Regular.eot");
  src: local("Intro Regular"), local("Intro-Regular"), url("../fonts/Intro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro-Regular.woff") format("woff"), url("../fonts/Intro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Miratrix';
  src: url("../fonts/Miratrix Normal.ttf") format("truetype"), url("../fonts/Miratrix Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  overflow-x: hidden; }
  @media screen and (min-width: 992px) and (max-width: 1169px) {
    html {
      font-size: 9px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 8px; } }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    html {
      font-size: 6px; } }

body {
  font-family: 'Intro', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background: url("../img/background.jpg") center no-repeat #19272c;
  background-size: cover;
  line-height: 1; }

button {
  text-align: center;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap; }
  button:focus {
    outline: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

*:focus {
  outline: none; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4 {
  margin: 0; }

.section {
  padding: 100px 0; }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .section {
      padding: 70px 0; } }
  .section__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .section__title {
    position: relative;
    color: #ffffff;
    font-size: 6rem;
    font-family: "Miratrix", sans-serif; }
  .section__btn {
    background: #1b262f;
    width: 359px;
    height: 81px;
    padding: 1rem;
    font-size: 2.4rem;
    color: #fff; }

@media screen and (min-width: 448px) and (max-width: 575px) {
  header, section, footer {
    padding-left: calc(50% - 209px) !important;
    padding-right: calc(50% - 209px) !important; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  header, section, footer {
    padding-left: calc(50% - 272.5px) !important;
    padding-right: calc(50% - 272.5px) !important; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  header, section, footer {
    padding-left: calc(50% - 368.5px) !important;
    padding-right: calc(50% - 368.5px) !important; } }

@media screen and (min-width: 992px) and (max-width: 1169px) {
  header, section, footer {
    padding-left: calc(50% - 480.5px) !important;
    padding-right: calc(50% - 480.5px) !important; } }

@media screen and (min-width: 1170px) {
  header, section, footer {
    padding-left: calc(50% - 570px) !important;
    padding-right: calc(50% - 570px) !important; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  max-height: 6.2rem;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 2rem; }
  .nav__logo {
    padding: 21px 13px;
    font-family: "Miratrix", sans-serif;
    font-size: 2.15rem;
    text-align: center;
    color: #ffffff;
    background-color: #ed6663;
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .nav__menu-item {
      height: 100%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .nav__menu-link {
      padding: 0 29px;
      height: 100%;
      font-family: Montserrat, sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav__menu-link:hover {
        color: #c73ab8; }
      .nav__menu-link:focus {
        color: #7c4a77; }
      @media screen and (min-width: 992px) and (max-width: 1169px) {
        .nav__menu-link {
          padding: 0 15px; } }
  .nav__info {
    margin-left: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .nav__info-item {
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav__info-item:first-child {
        margin-right: 5rem;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .nav__info-item:first-child:hover {
          color: #c73ab8; }
        @media screen and (min-width: 992px) and (max-width: 1169px) {
          .nav__info-item:first-child {
            margin-right: 4rem; } }
      .nav__info-item--btn {
        padding: 0 19px;
        max-height: 55px;
        height: 100%;
        cursor: pointer;
        border: solid 3px #77317a;
        background-color: transparent;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .nav__info-item--btn:hover {
          border-color: #c73ab8; }
        .nav__info-item--btn:focus {
          border-color: #734475; }

.form-callback {
  font-family: Montserrat, sans-serif; }
  .form-callback__title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.9rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__title {
        font-size: 4rem; } }
  .form-callback__hint {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.3rem; }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      .form-callback__hint {
        line-height: 1.4; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__hint {
        font-size: 2rem; } }
  .form-callback__input {
    padding: 29px 32px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: transparent;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: left;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__input {
        padding: 24px;
        font-size: 2rem; } }
    .form-callback__input:hover {
      background-color: rgba(199, 58, 184, 0.051); }
    .form-callback__input:focus {
      background-color: rgba(199, 58, 184, 0.2); }
    .form-callback__input::-webkit-input-placeholder {
      color: #fff; }
    .form-callback__input::-moz-placeholder {
      color: #fff; }
    .form-callback__input:-ms-input-placeholder {
      color: #fff; }
    .form-callback__input::-ms-input-placeholder {
      color: #fff; }
    .form-callback__input::placeholder {
      color: #fff; }
    .form-callback__input:not(:last-of-type) {
      margin-bottom: 2rem; }
    .form-callback__input-wrapper {
      margin-bottom: 3.8rem; }
  .form-callback__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-bottom: 3.8rem; }
    .form-callback__checkbox label {
      font-size: 1.4rem;
      position: relative;
      padding-left: 60px; }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        .form-callback__checkbox label {
          font-size: 1.8rem;
          line-height: 1.3; } }
    .form-callback__checkbox input {
      position: absolute;
      display: none;
      opacity: 0; }
      .form-callback__checkbox input:checked + span {
        background: #c73ab8;
        border: 1px solid #c73ab8; }
        .form-callback__checkbox input:checked + span:after {
          background: #fff;
          -webkit-transform: translate(18px, -50%);
          -ms-transform: translate(18px, -50%);
          transform: translate(18px, -50%); }
    .form-callback__checkbox span {
      display: inline-block;
      width: 40px;
      height: 20px;
      border-radius: 6px;
      -webkit-transition: .1s .1s ease-in-out;
      -o-transition: .1s .1s ease-in-out;
      transition: .1s .1s ease-in-out;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #fff;
      border: 1px solid #fff; }
      .form-callback__checkbox span:after {
        content: " ";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(57, 57, 57, 0.4);
        box-shadow: 1px 1px 5px 0px rgba(57, 57, 57, 0.4);
        background: #c73ab8;
        left: 3px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: .25s .03s ease-in-out;
        -o-transition: .25s .03s ease-in-out;
        transition: .25s .03s ease-in-out; }
      .form-callback__checkbox span:hover {
        cursor: pointer;
        border: 1px solid #c73ab8; }
  .form-callback__btn {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 71px; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__btn {
        height: 51px; } }

.btn-red {
  background-color: #ed6663;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn-red:hover {
    background-color: #db504c; }

.fadeIn {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.header {
  padding: 38px 0 118px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
      padding: 30px 0 100px; } }
  .header-main {
    margin-top: 15.6rem;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-main__title {
      max-width: 100%;
      font-size: 8.4rem;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto 3.2rem;
      color: #19272b;
      text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
      position: relative;
      letter-spacing: 6px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media screen and (min-width: 992px) and (max-width: 1169px) {
        .header-main__title {
          font-size: 7.5rem; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .header-main__title {
          font-size: 6.2rem; } }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        .header-main__title {
          font-size: 5.6rem; } }
      .header-main__title::before {
        content: 'Креативное агенство';
        position: absolute;
        top: 0;
        left: 0;
        text-shadow: 0px 0px 13px #C73AB8;
        z-index: -1; }
      .header-main__title:hover {
        color: #fff; }
    .header-main__subtitle {
      font-family: "Miratrix", sans-serif;
      font-size: 5.5rem;
      font-weight: normal;
      text-align: center;
      margin-bottom: 8.4rem; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .header-main__subtitle {
          font-size: 4.8rem; } }
    .header-main__btn {
      max-width: 440px;
      width: 100%;
      max-height: 104px;
      padding: 39px;
      font-family: Montserrat, sans-serif;
      font-size: 2.8rem;
      font-weight: 500;
      margin-bottom: 14.4rem;
      text-align: center; }
      @media screen and (min-width: 992px) and (max-width: 1169px) {
        .header-main__btn {
          max-width: 400px;
          padding: 35px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .header-main__btn {
          max-width: 350px;
          padding: 30px; } }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        .header-main__btn {
          max-width: 230px;
          padding: 20px;
          font-size: 2.5rem;
          margin-bottom: 10rem; } }
    .header-main__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      position: relative; }
      @media screen and (min-width: 768px) and (max-width: 1169px) {
        .header-main__social {
          width: 90%; } }
      @media screen and (max-width: 767px) {
        .header-main__social {
          display: none; } }
      .header-main__social:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        right: -102%;
        top: 50%; }
      .header-main__social:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        left: -102%;
        top: 50%; }
    .header-main__icon {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      fill: #fff; }
      .header-main__icon:hover {
        fill: #c73ab8; }
      .header-main__icon--behance {
        width: 65px;
        height: 65px; }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .header-main__icon--behance {
            width: 45px;
            height: 45px; } }
        .header-main__icon--behance::before {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          color: #fff;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0; }
      .header-main__icon--inst {
        width: 41px;
        height: 41px; }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          .header-main__icon--inst {
            width: 31px;
            height: 31px; } }
        .header-main__icon--inst::before {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          color: #fff;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 0; }

.portfolio__title:before {
  content: '';
  position: absolute;
  width: 753px;
  height: 5px;
  background: #ed6663;
  bottom: -17px;
  left: 0; }

.portfolio__square-big {
  position: absolute;
  max-width: 900px;
  width: 900px;
  height: 1174px;
  top: -89px;
  right: -60px;
  border: solid 7px #c73ab8; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__square-big {
      height: 970px; } }

.portfolio__square-small {
  position: absolute;
  width: 697px;
  height: 148px;
  border: solid 7px #ffffff;
  background: transparent;
  top: -18px;
  left: -49px; }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .portfolio__square-small {
      height: 120px; } }

.portfolio__top {
  margin-bottom: 8.8rem; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__top {
      margin-bottom: 6.5rem; } }

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6.3rem; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .portfolio__works {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

.portfolio-work {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 32%;
  flex: 0 1 32%;
  position: relative;
  max-width: 359px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 1169px) {
    .portfolio-work {
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%; } }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .portfolio-work {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media screen and (min-width: 768px) {
    .portfolio-work:not(:nth-child(3n+3)) {
      margin-right: 3rem; } }
  .portfolio-work:nth-child(odd) {
    margin-right: 2rem; }
  .portfolio-work:nth-child(n+4) {
    margin-top: 2.6rem; }
  .portfolio-work img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .portfolio-work__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #18282d;
    opacity: 0.9;
    z-index: 2;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
  .portfolio-work__title {
    position: absolute;
    z-index: 3;
    font-family: "Miratrix", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .portfolio-work__title {
        font-size: 2.6rem; } }
    .portfolio-work__title--first {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      word-wrap: break-word;
      width: calc(3rem - 4px);
      text-align: center; }
      .portfolio-work__title--first::before {
        content: '';
        position: absolute;
        background: #ed6663;
        width: 5px;
        height: 100%;
        top: 0;
        left: -8px; }
    .portfolio-work__title--second {
      top: auto;
      left: auto;
      bottom: 17%;
      right: 1%; }
      .portfolio-work__title--second::before {
        content: '';
        position: absolute;
        background: #c73ab8;
        height: 5px;
        width: 100%;
        top: -4px;
        left: 0; }
    .portfolio-work__title--third {
      top: 21%;
      left: auto;
      right: 1%; }
      .portfolio-work__title--third::before {
        content: '';
        position: absolute;
        background: #898989;
        height: 5px;
        width: 100%;
        bottom: -13px;
        left: 0; }
    .portfolio-work__title--fourth {
      left: 1%;
      top: 50%; }
      .portfolio-work__title--fourth::before {
        content: '';
        position: absolute;
        background: #898989;
        height: 5px;
        width: 100%;
        bottom: -8px;
        left: 0; }
    .portfolio-work__title--fifth {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: auto;
      bottom: 1%;
      word-wrap: break-word;
      width: calc(3rem - 4px);
      text-align: center; }
      .portfolio-work__title--fifth::before {
        content: '';
        position: absolute;
        background: #ed6663;
        width: 5px;
        height: 100%;
        top: 0;
        right: -10px; }
    .portfolio-work__title--sixth {
      left: 1%;
      top: 22%; }
      .portfolio-work__title--sixth::before {
        content: '';
        position: absolute;
        background: #c73ab8;
        height: 5px;
        width: 100%;
        top: -9px;
        left: 0; }

.portfolio__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio__btn {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  padding: 23px 82px;
  border: 5px solid #c73ab8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  background: url(../img/card-bg.jpg) center/cover no-repeat #1a242c; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__btn {
      padding: 18px 35px; } }
  @media screen and (max-width: 767px) {
    .portfolio__btn {
      background: transparent; } }
  .portfolio__btn:hover {
    background: #c73ab8 center/cover; }

.animation-up:hover > .portfolio-work__title {
  top: -100%; }

.animation-up:hover > .portfolio-work__overlay {
  top: 100%; }

.animation-down:hover > .portfolio-work__title {
  bottom: -100%; }

.animation-down:hover > .portfolio-work__overlay {
  top: -100%; }

.animation-left:hover > .portfolio-work__title {
  left: -100%; }

.animation-left:hover > .portfolio-work__overlay {
  left: 100%; }

.animation-right:hover > .portfolio-work__title {
  right: -100%; }

.animation-right:hover > .portfolio-work__overlay {
  left: -100%; }

.services__top {
  margin-bottom: 6.5rem; }

.services__title:before {
  content: '';
  position: absolute;
  width: 880px;
  height: 5px;
  background: #ed6663;
  bottom: -7px;
  left: 0; }

.services__square-big {
  position: absolute;
  max-width: 900px;
  width: 983px;
  height: 649px;
  top: -36px;
  left: -153px;
  border: solid 7px #c73ab8; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .services__square-big {
      height: 930px; } }

.services__square-small {
  position: absolute;
  width: 632px;
  height: 162px;
  border: solid 7px #ffffff;
  background: transparent;
  top: -10px;
  right: -48px; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .services__square-small {
      height: 92px; } }

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  color: #fff; }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .services-card {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }
  .services-card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 31.5%;
    flex: 0 1 31.5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 452px;
    padding: 37px 20px 34px; }
    @media screen and (min-width: 576px) and (max-width: 1169px) {
      .services-card__item {
        padding: 37px 10px 34px;
        min-height: 400px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .services-card__item {
        min-height: 350px; } }
    .services-card__item:before {
      content: '';
      position: absolute;
      background: #fdfeff;
      border: 6px solid #fdfeff;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    .services-card__item--one {
      border: solid 6px #fdfeff;
      position: relative;
      background: url("../img/card-bg.jpg") top center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--one {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 45%;
          flex: 0 1 45%;
          margin-right: 3rem; } }
      .services-card__item--one:before {
        bottom: -4px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 48%;
        width: 100%; }
    .services-card__item--two {
      border: solid 6px #c73ab8;
      position: relative;
      background: url("../img/card-bg.jpg") bottom center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--two {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 45%;
          flex: 0 1 45%; } }
      .services-card__item--two:before {
        top: -6px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 48%;
        width: 100%; }
    .services-card__item--three {
      border: solid 6px #ed6663;
      position: relative;
      background: url("../img/card-bg-rectangle.jpg") left center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--three {
          -ms-flex-preferred-size: 48%;
          flex-basis: 48%;
          margin-top: 3rem; } }
      .services-card__item--three:before {
        bottom: 50%;
        right: -6px;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        height: 100%;
        width: 50%; }
  .services-card__title {
    min-height: 84px;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 1.2; }
  .services-card__desc {
    font-size: 2.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    z-index: 1;
    mix-blend-mode: difference; }
  .services-card__info {
    text-align: center;
    margin-bottom: 3.2rem; }
  .services-card__btn {
    color: #fff;
    padding: 23px 40px;
    max-width: 307px;
    width: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    z-index: 1; }

.contacts {
  font-family: "Montserrat", sans-serif; }
  @media screen and (min-width: 992px) {
    .contacts {
      padding-top: 135px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .contacts {
      padding-top: 100px; } }
  .contacts__title {
    margin-bottom: 12.4rem; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts__title {
        margin-bottom: 10rem; } }
    .contacts__title:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background: #ed6663;
      bottom: -9px;
      left: 0; }
  .contacts__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .contacts__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .contacts__link-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts__link-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
        flex: 0 1 45%; } }
  .contacts__link {
    font-size: 3rem;
    text-align: left;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts__link {
        font-size: 2.5rem; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .contacts__link:not(:last-child) {
        margin-bottom: 4rem; } }
    .contacts__link:not(:last-child) {
      margin-bottom: 7.2rem; }
    .contacts__link:hover svg {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      fill: #c73ab8; }
    .contacts__link:hover a {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      color: #c73ab8;
      border-bottom-color: #c73ab8; }
    .contacts__link a {
      border-bottom: 2px solid #fff; }
      .contacts__link a:focus {
        color: #7c4a77;
        border-bottom-color: #7c4a77; }
  .contacts__icon {
    fill: #fff; }
    .contacts__icon-container {
      margin-right: 4.7rem;
      min-width: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts__icon-container {
          margin-right: 3rem; } }
    .contacts__icon--phone {
      width: 31px;
      height: 31px; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts__icon--phone {
          height: 26px;
          width: 26px; } }
    .contacts__icon--mail {
      width: 37px;
      height: 37px; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts__icon--mail {
          height: 32px;
          width: 32px; } }
    .contacts__icon--inst {
      width: 34px;
      height: 34px; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts__icon--inst {
          height: 29px;
          width: 29px; } }
    .contacts__icon--behance {
      width: 40px;
      height: 40px; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts__icon--behance {
          height: 35px;
          width: 35px; } }
  .contacts__form {
    border: solid 4px #c73ab8;
    padding: 61px 68px 59px;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts__form {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
        flex: 0 1 55%;
        padding: 40px 25px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .contacts__form {
        margin-top: 10rem;
        max-width: 400px; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  color: #1a242c; }
  .popup__modal {
    position: fixed;
    top: 5%;
    left: 50%;
    max-width: 557px;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 60px 70px;
    background-color: #eef5fb; }
    @media screen and (max-width: 767px) {
      .popup__modal {
        max-width: 410px;
        padding: 40px 50px; } }
  .popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer; }
    .popup__close:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      height: 2px;
      width: 16px;
      background: #ed6663;
      -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
      transform: translate(50%, -50%) rotate(45deg); }
    .popup__close:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      height: 2px;
      width: 16px;
      background: #ed6663;
      -webkit-transform: translate(50%, -50%) rotate(-45deg);
      -ms-transform: translate(50%, -50%) rotate(-45deg);
      transform: translate(50%, -50%) rotate(-45deg); }
    .popup__close:hover:after, .popup__close:hover:before {
      background: #c73ab8; }
  .popup__title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.9rem; }
  .popup__hint {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.3rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .popup__hint {
        font-size: 2rem; } }
  .popup__btn {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 71px;
    color: #fff; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .popup__btn {
        height: 50px; } }
  .popup-callback {
    display: none; }
    .popup-callback__input {
      border-color: #c73ab8;
      color: #1a242c; }
      .popup-callback__input::-webkit-input-placeholder {
        color: #1a242c; }
      .popup-callback__input::-moz-placeholder {
        color: #1a242c; }
      .popup-callback__input:-ms-input-placeholder {
        color: #1a242c; }
      .popup-callback__input::-ms-input-placeholder {
        color: #1a242c; }
      .popup-callback__input::placeholder {
        color: #1a242c; }
    .popup-callback__checkbox span {
      border: 1px solid #c73ab8; }
    .popup-callback__btn {
      color: #fff; }
  .popup-success {
    display: none; }
    .popup-success__modal {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
