@charset "UTF-8";
@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Regular.eot");
  src: local("Intro Regular"), local("Intro-Regular"), url("../fonts/Intro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro-Regular.woff") format("woff"), url("../fonts/Intro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Miratrix';
  src: url("../fonts/Miratrix Normal.ttf") format("truetype"), url("../fonts/Miratrix Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  overflow-x: hidden; }
  @media screen and (min-width: 992px) and (max-width: 1169px) {
    html {
      font-size: 9px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 8px; } }
  @media screen and (max-width: 767px) {
    html {
      font-size: 7px; } }

body {
  font-family: 'Intro', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background: url("../img/background.jpg") center no-repeat #19272c;
  background-size: cover;
  line-height: normal; }

button {
  text-align: center;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap; }
  button:focus {
    outline: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

*:focus {
  outline: none; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4 {
  margin: 0; }

.section {
  padding: 100px 0; }
  @media screen and (min-width: 468px) and (max-width: 991px) {
    .section {
      padding: 70px 0; } }
  @media screen and (max-width: 467px) {
    .section {
      padding: 50px 0; } }
  .section__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .section__title {
    position: relative;
    color: #ffffff;
    font-size: 6rem;
    font-family: "Miratrix", sans-serif; }
    @media screen and (max-width: 575px) {
      .section__title {
        font-size: 4rem; } }
  .section__btn {
    background: #1b262f;
    width: 359px;
    height: 81px;
    padding: 1rem;
    font-size: 2.4rem;
    color: #fff; }

@media screen and (max-width: 447px) {
  header, section, footer {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media screen and (min-width: 448px) and (max-width: 575px) {
  header, section, footer {
    padding-left: calc(50% - 209px) !important;
    padding-right: calc(50% - 209px) !important; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  header, section, footer {
    padding-left: calc(50% - 272.5px) !important;
    padding-right: calc(50% - 272.5px) !important; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  header, section, footer {
    padding-left: calc(50% - 368.5px) !important;
    padding-right: calc(50% - 368.5px) !important; } }

@media screen and (min-width: 992px) and (max-width: 1169px) {
  header, section, footer {
    padding-left: calc(50% - 480.5px) !important;
    padding-right: calc(50% - 480.5px) !important; } }

@media screen and (min-width: 1170px) {
  header, section, footer {
    padding-left: calc(50% - 570px) !important;
    padding-right: calc(50% - 570px) !important; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  color: #1a242c;
  overflow: auto; }
  .popup__modal {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-bottom: 3%;
    max-width: 557px;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 50px 70px;
    background-color: #eef5fb; }
    @media screen and (max-width: 767px) {
      .popup__modal {
        max-width: 410px;
        padding: 40px 50px; } }
    @media screen and (max-width: 467px) {
      .popup__modal {
        padding: 30px 35px; } }
  .popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer; }
    @media screen and (max-width: 575px) {
      .popup__close {
        right: 10px;
        top: 10px; } }
    .popup__close:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      height: 2px;
      width: 16px;
      background: #ed6663;
      -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
      transform: translate(50%, -50%) rotate(45deg); }
    .popup__close:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      height: 2px;
      width: 16px;
      background: #ed6663;
      -webkit-transform: translate(50%, -50%) rotate(-45deg);
      -ms-transform: translate(50%, -50%) rotate(-45deg);
      transform: translate(50%, -50%) rotate(-45deg); }
    .popup__close:hover:after, .popup__close:hover:before {
      background: #c73ab8; }
  .popup__title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.9rem; }
  .popup__hint {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.3rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .popup__hint {
        font-size: 2rem; } }
  .popup__btn {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 71px;
    padding: 15px 30px;
    color: #ffffff; }
    @media screen and (max-width: 575px) {
      .popup__btn {
        height: 50px; } }
  .popup-callback {
    display: none; }
    .popup-callback__checkbox span {
      border: 1px solid #c73ab8 !important; }
  .popup-notification {
    display: none;
    background-color: rgba(0, 0, 0, 0.7); }
    .popup-notification__modal {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.form-callback {
  font-family: "Montserrat", sans-serif; }
  .form-callback__title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.9rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__title {
        font-size: 3.5rem; } }
  .form-callback__hint {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.3rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .form-callback__hint {
        font-size: 2rem; } }
    @media screen and (max-width: 467px) {
      .form-callback__hint {
        font-size: 1.4rem; } }
  .form-callback__input {
    padding: 28px 32px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: transparent;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: left;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    @media screen and (max-width: 767px) {
      .form-callback__input {
        padding: 24px;
        font-size: 2rem; } }
    .form-callback__input:hover {
      background-color: rgba(199, 58, 184, 0.051); }
    .form-callback__input:focus {
      background-color: rgba(199, 58, 184, 0.2); }
    .form-callback__input::-webkit-input-placeholder {
      color: #fff; }
    .form-callback__input::-moz-placeholder {
      color: #fff; }
    .form-callback__input:-ms-input-placeholder {
      color: #fff; }
    .form-callback__input::-ms-input-placeholder {
      color: #fff; }
    .form-callback__input::placeholder {
      color: #fff; }
    .form-callback__input:not(:last-of-type) {
      margin-bottom: 2rem; }
    .form-callback__input-wrapper {
      margin-bottom: 3.8rem; }
  .form-callback__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-bottom: 3.8rem; }
    .form-callback__checkbox label {
      font-size: 1.4rem;
      position: relative;
      padding-left: 60px;
      line-height: 1.3; }
      @media screen and (max-width: 467px) {
        .form-callback__checkbox label {
          font-size: 1.3rem; } }
    .form-callback__checkbox input {
      position: absolute;
      display: none;
      opacity: 0; }
      .form-callback__checkbox input:checked + span {
        background: #c73ab8;
        border: 1px solid #c73ab8; }
        .form-callback__checkbox input:checked + span:after {
          background: #fff;
          -webkit-transform: translate(18px, -50%);
          -ms-transform: translate(18px, -50%);
          transform: translate(18px, -50%); }
    .form-callback__checkbox span {
      display: inline-block;
      width: 40px;
      height: 20px;
      border-radius: 6px;
      -webkit-transition: .1s .1s ease-in-out;
      -o-transition: .1s .1s ease-in-out;
      transition: .1s .1s ease-in-out;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #fff;
      border: 1px solid #fff; }
      .form-callback__checkbox span:after {
        content: " ";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #c73ab8;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(57, 57, 57, 0.4);
        box-shadow: 1px 1px 5px 0px rgba(57, 57, 57, 0.4);
        background: #c73ab8;
        left: 3px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: .25s .03s ease-in-out;
        -o-transition: .25s .03s ease-in-out;
        transition: .25s .03s ease-in-out; }
      .form-callback__checkbox span:hover {
        cursor: pointer; }
  .form-callback__btn {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    padding: 15px 30px;
    height: 71px; }
    @media screen and (max-width: 575px) {
      .form-callback__btn {
        height: 50px; } }

.btn-red {
  background-color: #ed6663;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .btn-red:hover {
    background-color: #db504c; }

.nav-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  max-height: 62px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .nav-container {
      font-size: 1.8rem; } }
  @media screen and (max-width: 767px) {
    .nav-container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .nav__logo {
    height: 62px;
    width: 75px;
    font-size: 2.15rem;
    font-family: "Miratrix", sans-serif;
    color: #ffffff;
    background-color: #ed6663;
    margin-right: 2rem;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .nav__logo {
        height: 52px;
        width: 62px; } }
    @media screen and (max-width: 767px) {
      .nav__logo {
        height: 45px;
        width: 55px; } }
  .nav-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 767px) {
      .nav-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .nav-menu-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .nav-menu-container {
          position: absolute;
          top: 200%;
          z-index: 2;
          color: #000;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .nav-menu__item {
      height: 100%; }
      @media screen and (max-width: 767px) {
        .nav-menu__item {
          position: absolute;
          height: auto; }
          .nav-menu__item:nth-child(n) {
            font-size: 0;
            top: 0;
            opacity: 0;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s; }
          .nav-menu__item:nth-child(2) {
            -webkit-transition-delay: .03s;
            -o-transition-delay: .03s;
            transition-delay: .03s; }
          .nav-menu__item:nth-child(3) {
            -webkit-transition-delay: .06s;
            -o-transition-delay: .06s;
            transition-delay: .06s; } }
    .nav-menu__link {
      padding: 0 29px;
      height: 100%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav-menu__link:hover {
        color: #c73ab8; }
      .nav-menu__link:focus {
        color: #7c4a77; }
      @media screen and (min-width: 992px) and (max-width: 1169px) {
        .nav-menu__link {
          padding: 0 25px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .nav-menu__link {
          padding: 0 14px; } }
  .nav-info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 767px) {
      .nav-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .nav-info__item:first-child {
      margin-right: 5rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .nav-info__item:first-child:hover {
        color: #c73ab8; }
      .nav-info__item:first-child:focus {
        color: #7c4a77; }
    @media screen and (min-width: 768px) and (max-width: 1169px) {
      .nav-info__item:first-child {
        margin-right: 4rem; } }
    @media screen and (max-width: 767px) {
      .nav-info__item {
        position: absolute; }
        .nav-info__item:nth-child(n) {
          font-size: 0;
          top: 0;
          opacity: 0;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
        .nav-info__item:nth-child(1) {
          -webkit-transition-delay: .09s;
          -o-transition-delay: .09s;
          transition-delay: .09s; }
        .nav-info__item:nth-child(2) {
          -webkit-transition-delay: .12s;
          -o-transition-delay: .12s;
          transition-delay: .12s; } }
    .nav-info__btn {
      padding: 0 19px;
      height: 62px;
      cursor: pointer;
      border: solid 3px #77317a;
      background-color: transparent;
      color: inherit;
      -webkit-transition: border-color .2s;
      -o-transition: border-color .2s;
      transition: border-color .2s; }
      .nav-info__btn:hover {
        border-color: #c73ab8; }
      .nav-info__btn:focus {
        border-color: #734475; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .nav-info__btn {
          height: 52px; } }
      @media screen and (max-width: 767px) {
        .nav-info__btn {
          height: 45px; } }

@media screen and (max-width: 767px) {
  .animated .nav-menu__item:nth-child(n) {
    font-size: 4rem;
    opacity: 1; }
  .animated .nav-menu__item:nth-child(1) {
    top: 0; }
  .animated .nav-menu__item:nth-child(2) {
    top: 70px; }
  .animated .nav-menu__item:nth-child(3) {
    top: 140px; } }

@media screen and (max-width: 767px) and (max-width: 467px) {
  .animated .nav-menu__item:nth-child(n) {
    font-size: 3rem; } }

@media screen and (max-width: 767px) {
  .animated .nav-info__item:nth-child(n) {
    font-size: 4rem;
    opacity: 1; }
  .animated .nav-info__item:nth-child(1) {
    top: 240px; }
  .animated .nav-info__item:nth-child(2) {
    top: 300px; } }

@media screen and (max-width: 767px) and (max-width: 467px) {
  .animated .nav-info__item:nth-child(n) {
    font-size: 3rem; } }

.trigger {
  width: 30px;
  height: 26px;
  position: relative;
  cursor: pointer;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .trigger {
      display: none; } }
  .trigger__line {
    height: 3px;
    width: 100%;
    background: #ed6663;
    position: absolute;
    left: 0; }
    .trigger__line--top {
      top: 0;
      -webkit-transition: 0.5s 0.3s;
      -o-transition: 0.5s 0.3s;
      transition: 0.5s 0.3s; }
    .trigger__line--middle {
      top: 10px;
      -webkit-transition: 0.4s 0.4s;
      -o-transition: 0.4s 0.4s;
      transition: 0.4s 0.4s; }
    .trigger__line--bottom {
      top: 20px;
      -webkit-transition: 0.5s 0.3s;
      -o-transition: 0.5s 0.3s;
      transition: 0.5s 0.3s; }

@media screen and (max-width: 767px) {
  .animated .trigger__line--top {
    top: 10px;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg); }
  .animated .trigger__line--middle {
    opacity: 0; }
  .animated .trigger__line--bottom {
    top: 10px;
    -webkit-transform: rotate(-410deg);
    -ms-transform: rotate(-410deg);
    transform: rotate(-410deg); } }

.circle-bg {
  position: absolute;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .circle-bg {
      display: none; } }

@media screen and (max-width: 767px) {
  .animated .circle-bg {
    width: 2500px;
    height: 2500px;
    top: 0;
    right: -200%; } }

.input-wrapper {
  position: relative;
  width: 100%;
  height: 73px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  font-size: 1.6rem;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .input-wrapper {
      font-size: 2rem; } }
  @media screen and (max-width: 575px) {
    .input-wrapper {
      font-size: 1.5rem;
      height: 55px; } }
  .input-wrapper input {
    position: absolute;
    padding: 26px 32px 6px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #fff;
    z-index: 1; }
    @media screen and (max-width: 575px) {
      .input-wrapper input {
        padding: 26px 18px 10px; } }
    .input-wrapper input:hover {
      background-color: rgba(199, 58, 184, 0.051); }
    .input-wrapper input:focus {
      background-color: rgba(199, 58, 184, 0.2); }
  .input-wrapper label {
    position: absolute;
    left: 32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out; }
    @media screen and (max-width: 575px) {
      .input-wrapper label {
        left: 18px; } }
  .input-wrapper .clean {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
    cursor: pointer;
    display: none;
    z-index: 2; }
    @media screen and (max-width: 575px) {
      .input-wrapper .clean {
        width: 12px;
        height: 12px; } }
    .input-wrapper .clean:before {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg); }
    .input-wrapper .clean:after {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg); }

.popup .input-wrapper input {
  border-color: #c73ab8;
  color: #1a242c; }

.popup .input-wrapper .clean:before, .popup .input-wrapper .clean:after {
  background: #c73ab8; }

.focused label {
  font-size: 1.3rem;
  top: 20%; }

.loader {
  font-size: 0px;
  position: relative; }
  .loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: loader .7s linear infinite;
    animation: loader .7s linear infinite; }

.fadeInUp {
  -webkit-animation: fadeInUp .5s;
  animation: fadeInUp .5s; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 0%; }
  100% {
    opacity: 1;
    top: 5%; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 0%; }
  100% {
    opacity: 1;
    top: 5%; } }

.fadeOutDown {
  -webkit-animation: fadeOutDown .5s;
  animation: fadeOutDown .5s; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    top: 5%; }
  100% {
    opacity: 0;
    top: 0%; } }

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    top: 5%; }
  100% {
    opacity: 0;
    top: 0%; } }

.fadeIn {
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
    transform: translate(-50%, -50%) rotate(-360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
    transform: translate(-50%, -50%) rotate(-360deg); } }

.header {
  padding: 38px 0 118px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
      padding: 30px 0 100px; } }
  @media screen and (max-width: 767px) {
    .header {
      padding: 15px 0 70px; } }
  .header-wrapper {
    margin-top: 14.4rem;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 467px) {
      .header-wrapper {
        margin-top: 12rem; } }
  .header__title {
    max-width: 100%;
    font-size: 7.9rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 1.9rem;
    color: #19272b;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
    position: relative;
    letter-spacing: 6px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    @media screen and (min-width: 992px) and (max-width: 1169px) {
      .header__title {
        font-size: 7.3rem; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .header__title {
        font-size: 6rem; } }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      .header__title {
        margin-bottom: 5rem; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .header__title {
        font-size: 4.7rem; } }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .header__title {
        letter-spacing: 3px;
        font-size: 4rem; } }
    @media screen and (max-width: 467px) {
      .header__title {
        font-size: 3rem;
        letter-spacing: 1px; } }
    .header__title::before {
      content: 'Креативное агентство';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0px 0px 13px #C73AB8;
      z-index: -1; }
    .header__title:hover {
      color: #fff; }
  .header__subtitle {
    font-family: "Miratrix", sans-serif;
    font-size: 5.5rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 8.4rem; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .header__subtitle {
        font-size: 4.5rem; } }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .header__subtitle {
        font-size: 3.8rem; } }
    @media screen and (max-width: 575px) {
      .header__subtitle {
        margin-bottom: 5rem; } }
    @media screen and (max-width: 467px) {
      .header__subtitle {
        font-size: 2.71rem; } }
  .header__btn {
    max-width: 440px;
    width: 100%;
    max-height: 104px;
    padding: 39px;
    font-family: Montserrat, sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 14.4rem;
    text-align: center;
    line-height: 0.8; }
    @media screen and (min-width: 992px) and (max-width: 1169px) {
      .header__btn {
        max-width: 400px;
        padding: 35px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .header__btn {
        max-width: 350px;
        padding: 30px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .header__btn {
        max-width: 240px;
        padding: 20px;
        margin-bottom: 10rem; } }
    @media screen and (max-width: 767px) {
      .header__btn {
        font-size: 2.52rem; } }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .header__btn {
        max-width: 220px;
        padding: 18px; } }
    @media screen and (max-width: 467px) {
      .header__btn {
        max-width: 170px;
        padding: 16px;
        font-size: 2rem;
        margin-bottom: 0; } }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative; }
    @media screen and (min-width: 768px) and (max-width: 1169px) {
      .header__social {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .header__social {
        display: none; } }
  .header__line {
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    top: 45%; }
    .header__line--right {
      right: -102%; }
    .header__line--left {
      left: -102%; }
  .header__icon {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    fill: #fff; }
    .header__icon:hover {
      fill: #c73ab8; }
    .header__icon--behance {
      width: 65px;
      height: 65px; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .header__icon--behance {
          width: 45px;
          height: 45px; } }
      .header__icon--behance::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        color: #fff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0; }
    .header__icon--inst {
      width: 41px;
      height: 41px; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .header__icon--inst {
          width: 31px;
          height: 31px; } }
      .header__icon--inst::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        color: #fff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0; }

.portfolio__title:before {
  content: '';
  position: absolute;
  width: 753px;
  height: .5rem;
  background: #ed6663;
  bottom: -1.7rem;
  left: 0; }

.portfolio__square-big {
  position: absolute;
  max-width: 900px;
  width: 900px;
  height: 1174px;
  top: -89px;
  right: -60px;
  border: solid 0.7REM #c73ab8; }
  @media screen and (min-width: 468px) and (max-width: 991px) {
    .portfolio__square-big {
      height: 940px; } }
  @media screen and (max-width: 467px) {
    .portfolio__square-big {
      top: -60px;
      height: 640px; } }

.portfolio__square-small {
  position: absolute;
  width: 69.7rem;
  height: 14.8rem;
  border: solid .7rem #ffffff;
  background: transparent;
  top: -18px;
  left: -49px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__square-small {
      height: 13rem; } }
  @media screen and (max-width: 467px) {
    .portfolio__square-small {
      height: 12rem; } }

.portfolio__top {
  margin-bottom: 8.8rem; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__top {
      margin-bottom: 6.5rem; } }

.portfolio-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6.3rem; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .portfolio-works {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }
  .portfolio-works__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
    position: relative;
    max-width: 359px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0; }
    @media screen and (min-width: 768px) and (max-width: 1169px) {
      .portfolio-works__item {
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%; } }
    @media screen and (max-width: 767px) {
      .portfolio-works__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; }
        .portfolio-works__item:nth-child(odd) {
          margin-right: 2rem; }
        .portfolio-works__item:nth-child(n+3) {
          margin-top: 2.6rem; } }
    @media screen and (min-width: 768px) {
      .portfolio-works__item:not(:nth-child(3n+3)) {
        margin-right: 3rem; } }
    .portfolio-works__item:nth-child(n+4) {
      margin-top: 2.6rem; }
  .portfolio-works__img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .portfolio-works__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #18282d;
    opacity: 0.9;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
  .portfolio-works__title {
    position: absolute;
    z-index: 3;
    font-family: "Miratrix", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      .portfolio-works__title {
        font-size: 2.7rem; } }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .portfolio-works__title {
        font-size: 2.6rem; } }
    @media screen and (max-width: 467px) {
      .portfolio-works__title {
        font-size: 1.85rem; } }
    .portfolio-works__title--first {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      word-wrap: break-word;
      width: 2.5rem;
      text-align: center;
      line-height: 1; }
      @media screen and (max-width: 467px) {
        .portfolio-works__title--first {
          width: 1.8rem; } }
      .portfolio-works__title--first::before {
        content: '';
        position: absolute;
        background: #ed6663;
        width: .5rem;
        height: 100%;
        top: 0;
        left: -.8rem; }
    .portfolio-works__title--second {
      top: auto;
      left: auto;
      bottom: 17%;
      right: 1%; }
      .portfolio-works__title--second::before {
        content: '';
        position: absolute;
        background: #c73ab8;
        height: .5rem;
        width: 100%;
        top: -.8rem;
        left: 0; }
    .portfolio-works__title--third {
      top: 21%;
      left: auto;
      right: 1%; }
      .portfolio-works__title--third::before {
        content: '';
        position: absolute;
        background: #898989;
        height: .5rem;
        width: 100%;
        bottom: -.8rem;
        left: 0; }
    .portfolio-works__title--fourth {
      left: 1%;
      top: 50%; }
      .portfolio-works__title--fourth::before {
        content: '';
        position: absolute;
        background: #898989;
        height: .5rem;
        width: 100%;
        bottom: -.8rem;
        left: 0; }
    .portfolio-works__title--fifth {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: auto;
      bottom: 1%;
      word-wrap: break-word;
      width: 2.5rem;
      text-align: center;
      line-height: 1; }
      @media screen and (max-width: 467px) {
        .portfolio-works__title--fifth {
          width: 1.8rem; } }
      .portfolio-works__title--fifth::before {
        content: '';
        position: absolute;
        background: #ed6663;
        width: .5rem;
        height: 100%;
        top: 0;
        right: -.8rem; }
    .portfolio-works__title--sixth {
      left: 1%;
      top: 22%; }
      .portfolio-works__title--sixth::before {
        content: '';
        position: absolute;
        background: #c73ab8;
        height: .5rem;
        width: 100%;
        top: -.8rem;
        left: 0; }

.portfolio__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.portfolio__btn {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  padding: 23px 82px;
  border: 0.5rem solid #c73ab8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  background: url(../img/card-bg.jpg) center/cover no-repeat #1a242c; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__btn {
      padding: 18px 35px; } }
  @media screen and (max-width: 767px) {
    .portfolio__btn {
      background: transparent; } }
  @media screen and (min-width: 468px) and (max-width: 575px) {
    .portfolio__btn {
      padding: 16px 40px; } }
  @media screen and (max-width: 467px) {
    .portfolio__btn {
      padding: 16px 40px;
      font-size: 2rem; } }
  .portfolio__btn:hover {
    background: #c73ab8 center/cover; }

.animation-up:hover > .portfolio-works__title {
  top: -100%; }

.animation-up:hover > .portfolio-works__overlay {
  top: 100%; }

.animation-down:hover > .portfolio-works__title {
  bottom: -100%; }

.animation-down:hover > .portfolio-works__overlay {
  top: -100%; }

.animation-left:hover > .portfolio-works__title {
  left: -100%; }

.animation-left:hover > .portfolio-works__overlay {
  left: 100%; }

.animation-right:hover > .portfolio-works__title {
  right: -100%; }

.animation-right:hover > .portfolio-works__overlay {
  left: -100%; }

.services__top {
  margin-bottom: 6.5rem; }

.services__title:before {
  content: '';
  position: absolute;
  width: 880px;
  height: .5rem;
  background: #ed6663;
  bottom: -1.7rem;
  left: 0; }

.services__square-big {
  position: absolute;
  max-width: 900px;
  width: 983px;
  height: 649px;
  top: -36px;
  left: -153px;
  border: solid 0.7rem #c73ab8; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .services__square-big {
      height: 930px; } }
  @media screen and (max-width: 467px) {
    .services__square-big {
      width: 250px;
      height: 850px; } }

.services__square-small {
  position: absolute;
  width: 63.2rem;
  height: 16.2rem;
  border: solid .7rem #ffffff;
  background: transparent;
  top: -10px;
  right: -48px; }
  @media screen and (min-width: 468px) and (max-width: 575px) {
    .services__square-small {
      right: -60px; } }

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  color: #fff; }
  @media screen and (max-width: 991px) {
    .services-card {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }
  @media screen and (max-width: 575px) {
    .services-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .services-card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 31.5%;
    flex: 0 1 31.5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 452px;
    padding: 37px 20px 34px;
    border: solid .6rem; }
    @media screen and (min-width: 576px) and (max-width: 1169px) {
      .services-card__item {
        padding: 30px 20px;
        min-height: 400px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .services-card__item {
        min-height: 350px;
        padding: 20px 15px; } }
    @media screen and (max-width: 575px) {
      .services-card__item {
        max-width: 240px;
        min-height: 320px;
        width: 100%;
        padding: 15px 10px; }
        .services-card__item:not(:last-child) {
          margin-bottom: 4rem; } }
    .services-card__item:before {
      content: '';
      position: absolute;
      background: #fdfeff;
      border: 0.6rem solid #fdfeff;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    .services-card__item--one {
      border-color: #fdfeff;
      position: relative;
      background: url("../img/card-bg.jpg") top center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--one {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 45%;
          flex: 0 1 45%;
          margin-right: 3rem; } }
      .services-card__item--one:before {
        bottom: -0.6rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 48%;
        width: 100%; }
    .services-card__item--two {
      border-color: #c73ab8;
      position: relative;
      background: url("../img/card-bg.jpg") bottom center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--two {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 45%;
          flex: 0 1 45%; } }
      @media screen and (max-width: 467px) {
        .services-card__item--two {
          border-width: .6rem; } }
      .services-card__item--two:before {
        top: -0.6rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 48%;
        width: 100%; }
    .services-card__item--three {
      border-color: #ed6663;
      position: relative;
      background: url("../img/card-bg-rectangle.jpg") left center no-repeat #17292b; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .services-card__item--three {
          -ms-flex-preferred-size: 48%;
          flex-basis: 48%;
          margin-top: 3rem; } }
      .services-card__item--three:before {
        bottom: 50%;
        right: -0.6rem;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        height: 100%;
        width: 50%; }
  .services-card__title {
    min-height: 84px;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 1.2;
    position: relative; }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .services-card__title {
        min-height: 60px; } }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .services-card__title {
        min-height: 57px; } }
    @media screen and (max-width: 467px) {
      .services-card__title {
        min-height: 55px;
        font-size: 2.5rem;
        margin-bottom: 0.5rem; } }
  .services-card__title--aligned {
    margin-left: -4px; }
  .services-card__desc {
    font-size: 2.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    z-index: 1;
    mix-blend-mode: difference; }
    @media screen and (min-width: 992px) and (max-width: 1169px) {
      .services-card__desc {
        font-size: 2.2rem; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .services-card__desc {
        font-size: 2.3rem; } }
    @media screen and (max-width: 575px) {
      .services-card__desc {
        margin-top: 5px; } }
  .services-card__info {
    text-align: center;
    margin-bottom: 3.2rem; }
    @media screen and (max-width: 467px) {
      .services-card__info {
        font-size: 2.33rem; } }
  .services-card__info--aligned:first-child {
    margin-left: 10px; }
  .services-card__info--aligned:last-child {
    margin-left: -5px; }
  .services-card__btn {
    color: #fff;
    padding: 23px 40px;
    max-width: 307px;
    width: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    z-index: 1; }
    @media screen and (min-width: 468px) and (max-width: 575px) {
      .services-card__btn {
        padding: 18px 40px; } }
    @media screen and (max-width: 467px) {
      .services-card__btn {
        padding: 16px 40px;
        font-size: 2rem; } }

.contacts {
  font-family: "Montserrat", sans-serif; }
  @media screen and (min-width: 992px) {
    .contacts {
      padding-top: 135px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .contacts {
      padding-top: 100px; } }
  .contacts__title {
    margin-bottom: 12.4rem; }
    @media screen and (max-width: 991px) {
      .contacts__title {
        margin-bottom: 10rem; } }
    .contacts__title:before {
      content: '';
      position: absolute;
      width: 100%;
      height: .5rem;
      background: #ed6663;
      bottom: -9px;
      left: 0; }
  .contacts__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .contacts__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .contacts-links {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts-links {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
        flex: 0 1 45%; } }
    @media screen and (max-width: 767px) {
      .contacts-links {
        margin-bottom: 10rem; } }
    .contacts-links__item {
      font-size: 3rem;
      text-align: left;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left; }
      .contacts-links__item:not(:last-child) {
        margin-bottom: 6.2rem; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .contacts-links__item {
          font-size: 2.5rem; } }
      @media screen and (max-width: 767px) {
        .contacts-links__item {
          font-size: 3rem; }
          .contacts-links__item:not(:last-child) {
            margin-bottom: 5rem; } }
      .contacts-links__item:hover svg {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        fill: #c73ab8; }
      .contacts-links__item:hover a {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: #c73ab8;
        border-bottom-color: #c73ab8; }
      .contacts-links__item a {
        border-bottom: 2px solid #fff; }
        .contacts-links__item a:focus {
          color: #7c4a77;
          border-bottom-color: #7c4a77; }
        @media screen and (max-width: 467px) {
          .contacts-links__item a {
            border-bottom-width: 1px; } }
    .contacts-links__icon {
      margin-right: 4.7rem;
      min-width: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        .contacts-links__icon {
          margin-right: 3rem; } }
    .contacts-links__svg {
      fill: #fff; }
      .contacts-links__svg--phone {
        width: 31px;
        height: 31px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          .contacts-links__svg--phone {
            height: 26px;
            width: 26px; } }
        @media screen and (max-width: 575px) {
          .contacts-links__svg--phone {
            height: 21px;
            width: 21px; } }
      .contacts-links__svg--mail {
        width: 37px;
        height: 37px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          .contacts-links__svg--mail {
            height: 32px;
            width: 32px; } }
        @media screen and (max-width: 575px) {
          .contacts-links__svg--mail {
            height: 27px;
            width: 27px; } }
      .contacts-links__svg--inst {
        width: 34px;
        height: 34px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          .contacts-links__svg--inst {
            height: 29px;
            width: 29px; } }
        @media screen and (max-width: 575px) {
          .contacts-links__svg--inst {
            height: 24px;
            width: 24px; } }
      .contacts-links__svg--behance {
        width: 40px;
        height: 40px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          .contacts-links__svg--behance {
            height: 35px;
            width: 35px; } }
        @media screen and (max-width: 575px) {
          .contacts-links__svg--behance {
            height: 30px;
            width: 30px; } }
  .contacts__form {
    border: solid 4px #c73ab8;
    padding: 50px 74px 44px;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contacts__form {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
        flex: 0 1 55%;
        padding: 40px 25px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .contacts__form {
        max-width: 500px; } }
    @media screen and (min-width: 468px) and (max-width: 767px) {
      .contacts__form {
        padding: 40px 60px; } }
    @media screen and (max-width: 467px) {
      .contacts__form {
        padding: 30px 35px;
        max-width: 400px; } }
