.contacts 
	font-family: "Montserrat", sans-serif
	padding-top: 135px
	&__title
		margin-bottom: 124px
		&:before
			content: ''
			position: absolute
			width: 316px
			height: 5px
			background: $red
			bottom: -9px
			left: 0
	&__row
		display: flex
		justify-content: space-between
		align-items: center
	&__link-container
		flex: 0 1 50%
		display: flex
		flex-direction: column
	&__link
		font-size: 3rem
		text-align: left
		color: #fff
		display: flex
		justify-content: left
		align-items: center
		&:not(:last-child)
			margin-bottom: 72px
		&:hover svg
			transition: all .3s
			fill: $purple
		&:hover a
			transition: all .3s
			color: $purple
			border-bottom-color: $purple
		a 
			border-bottom: 2px solid #fff
			&:focus
				color: #7c4a77
				border-bottom-color: #7c4a77
	&__icon
		fill: #fff
		&-container
			margin-right: 47px
			min-width: 40px
			display: flex
		&--phone
			width: 31px
			height: 31px
		&--mail
			width: 37px
			height: 37px
		&--inst
			width: 34px
			height: 34px
		&--behance
			width: 40px
			height: 40px
	&__form
		border: solid 4px $purple
		padding: 61px 68px 59px
		color: #fff
		flex: 0 1 50%
		

	
