.services
	&__top
		margin-bottom: 6.5rem
	&__title
		&:before
			content: ''
			position: absolute
			width: 880px
			height: .5rem
			background: $red
			bottom: -1.7rem
			left: 0
	&__square-big
		position: absolute
		max-width: 900px
		width: 983px
		height: 649px
		top: -36px
		left: -153px
		border: solid .7rem $purple
		@media screen and (min-width:$screen-md-min) and (max-width:$screen-md-max)
			height: 930px
		@media screen and (max-width:$screen-xs-min - 1) 
			width: 250px
			height: 850px
	&__square-small
		position: absolute
		width: 63.2rem
		height: 16.2rem
		border: solid .7rem #ffffff
		background: transparent
		top: -10px
		right: -48px
		@media screen and (min-width:$screen-xs-min) and (max-width:$screen-xs-max)
			right: -60px
	&-card
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		position: relative
		color: #fff
		// color: #1b262f
		@media screen and (max-width:$screen-md-max)
			justify-content: space-evenly
		@media screen and (max-width:$screen-xs-max)
			flex-direction: column
		&__item
			display: flex
			flex: 0 1 31.5%
			flex-wrap: wrap
			flex-direction: column
			align-items: center
			justify-content: space-between
			min-height: 452px
			padding: 37px 20px 34px
			border: solid .6rem
			@media screen and (min-width:$screen-sm-min) and (max-width:$screen-lg-max)
				padding: 30px 20px
				min-height: 400px
			@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max)
				min-height: 350px
				padding: 20px 15px
			@media screen and (max-width:$screen-xs-max)
				max-width: 240px
				min-height: 320px
				width: 100%
				padding: 15px 10px
				&:not(:last-child) 
					margin-bottom: 4rem
				
			&:before
				content: ''
				position: absolute
				background: $white
				border: .6rem solid $white 
				box-sizing: content-box
			&--one
				border-color: $white
				position: relative
				background: url('../img/card-bg.jpg') top center no-repeat #17292b
				@media screen and (min-width:$screen-sm-min) and (max-width:$screen-md-max)
					flex: 0 1 45%
					margin-right: 3rem
				&:before
					bottom: 0 - .6rem
					left: 50%
					transform: translateX(-50%)
					height: 48%
					width: 100%
			&--two
				border-color: $purple
				position: relative
				background: url('../img/card-bg.jpg') bottom center no-repeat #17292b
				@media screen and (min-width:$screen-sm-min) and (max-width:$screen-md-max)
					flex: 0 1 45%
				@media screen and (max-width:$screen-xs-min - 1) 
					border-width: .6rem
				&:before
					top: 0 - .6rem
					left: 50%
					transform: translateX(-50%)
					height: 48%
					width: 100%
			&--three
				border-color: $red
				position: relative
				background: url('../img/card-bg-rectangle.jpg') left center no-repeat #17292b
				@media screen and (min-width:$screen-sm-min) and (max-width:$screen-md-max)
					flex-basis: 48%
					margin-top: 3rem
				&:before
					bottom: 50%
					right: 0 - .6rem
					transform: translateY(50%)
					height: 100%
					width: 50%
		&__title
			min-height: 84px
			font-size: 2.4rem
			text-align: center
			text-transform: uppercase
			margin-bottom: 2rem
			z-index: 1
			mix-blend-mode: difference
			line-height: 1.2
			position: relative
			@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max)
				min-height: 60px
			@media screen and (min-width:$screen-xs-min) and (max-width:$screen-xs-max)
				min-height: 57px
			@media screen and (max-width:$screen-xs-min - 1) 
				min-height: 55px
				font-size: 2.5rem
				margin-bottom: 0.5rem
		&__title--aligned 
			margin-left: -4px
		&__desc
			font-size: 2.4rem
			font-family: Montserrat, sans-serif
			font-weight: 600
			z-index: 1
			mix-blend-mode: difference
			@media screen and (min-width:$screen-lg-min) and (max-width:$screen-lg-max)
				font-size: 2.2rem
			@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max)
				font-size: 2.3rem
			@media screen and (max-width:$screen-xs-max)
				margin-top: 5px
		&__info
			text-align: center
			margin-bottom: 3.2rem
			@media screen and (max-width:$screen-xs-min - 1) 
				font-size: 2.33rem
		&__info--aligned 
			&:first-child
				margin-left: 10px
			&:last-child
				margin-left: -5px
		&__btn
			color: #fff
			padding: 23px 40px
			max-width: 307px
			width: 100%
			text-align: center
			font-family: Montserrat, sans-serif
			font-size: 2.4rem
			font-weight: 500
			z-index: 1
			@media screen and (min-width:$screen-xs-min) and (max-width:$screen-xs-max)
				padding: 18px 40px
			@media screen and (max-width:$screen-xs-min - 1) 
				padding: 16px 40px
				font-size: 2rem





